@import "tailwindcss";

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.animate-typing {
  animation: typing 2.5s steps(11) forwards;
}

.animate-blink {
  animation: blink 3s step-end infinite;
}
